.brush-stroke
  display inline-block
  position: relative

  .stroke, .brush, .blackout
    display block
    position: absolute
    height 3vw
    bottom -3px
    @media tablet-up
      height 1.5vw
      bottom 0


  .stroke, .brush
    > svg
      display block
      height 100%
      width 100%
      max-width 100%

  .stroke
    left -6px
    right -6px
    z-index 1
    @media tablet-up
      left -10px
      right -10px

  .brush
    left 1%
    width 40%
    transition left .25s ease
    z-index 3

    @media tablet-up
      right 70%

  .blackout
    right -6px
    left 30%
    background-color black
    transition left .25s ease
    z-index 2
    @media tablet-up
      right -10px

  &:hover
    .brush
      left 65%
    .blackout
      left 100%
