.chevron
  display inline-flex
  position relative

  svg
    display block
    width 8vw
    height 8vw
    margin-top 0.5rem

  @media tablet-up
    svg
      width 4.5vw
      height 4.5vw

  .arrow
    transform: translateX(0)

  &.active
    .arrow
      animation: forward 0.75s ease forwards

@keyframes forward
  0% { transform: translateX(0) }
  25% { transform: translateX(100%) }
  25.1% { transform: translateX(-100%) }
  75% { transform: translateX(100%) }
  75.1% { transform: translateX(-100%) }
  100% { transform: translateX(0) }
