.footer
  position relative
  z-index 2
  > div
    display flex
    justify-content center

  a
    font-weight 900
    font-size 4vw
    color: colors.white
    text-decoration none
    animation: xyz-in-2 1s ease 400ms forwards
    padding 2vw
    transform scale(1)
    opacity 0

    @media tablet-up
      font-size 1.5vw
      padding 2vw

    .text
      display block

    .text
      position relative
      left 0
      z-index 1
      //transform scale(1)

#cta-block
  position absolute
  transform translate(-50%,-50%)
  pointer-events none

  width: 9vw
  height 9vw
  border-radius: .75vw
  background-color colors.yellow
  z-index 0
  display none

  &.active
    display block

  @media tablet-up
    width: 4vw
    height 4vw

@keyframes xyz-in-2
  0% { transform: translateY(2vw); opacity 0 }
  40% { transform: translateY(2vw); opacity 0 }
  85% { transform: translateY(-1.5vw); opacity 1}
  100% { transform: translateY(0); opacity 1 }

@keyframes shake
  0% { transform: translateX(0%) }
  60% { transform: translateX(0%) }
  91% { transform: translateX(-20%) }
  93% { transform: translateX(40%) }
  95% { transform: translateX(-20%) }
  97% { transform: translateX(10%) }
  100% { transform: translateX(0%) }

@keyframes scale
  0% { transform: scale(1) }
  100% { transform: scale(1.15) }
