#cursor-sqr,
#cursor-dot
  position absolute
  transform translate(-50%,-50%)
  pointer-events none
  transition width .25s ease, height .25s ease, border .25s ease
  box-shadow 0 1px 6px rgba(#000, 0.5)

#cursor-sqr
  width 32px
  height 32px
  border: 3px solid colors.yellow
  z-index 99
  border-radius 100%
  &.active
    width 44px
    height 44px
    border: 4px solid colors.yellow

#cursor-dot
  width 8px
  height 8px
  background-color: colors.white
  &.active
    width 13px
    height 13px

  // mix-blend-mode difference
  // -webkit-filter grayscale(1)

.cursor, .cursor::after
  position: absolute
  transform translate(-50%,-50%)
  pointer-events none

.cursor
  width 32px
  height 32px
  border: 3px solid colors.yellow
  z-index 99
  border-radius 100%

  &::after
    display block
    content ''
    top 50%
    left 50%
    background-color: colors.white
    width 8px
    height 8px

