.heading
  display: flex
  flex-flow: wrap
  align-items center

  font-size 9vw
  margin 0 0
  font-weight 400
  line-height 1.5
  padding-top 7%
  animation: xyz-in-1 600ms cubic-bezier(0.34, 1.56, 0.64, 1) 300ms forwards
  opacity 0

  > *, > span > span
    display block
    cursor default



  b
    font-weight 900

  @media tablet-up
    font-size 4.5vw
    > *
      margin-right 1.5vw

  @media tablet-down
    > *
      margin-right 3vw

@keyframes xyz-in-1
  0% { transform: scale(0.8); opacity 0 }
  20% { transform: scale(0.8); opacity 0 }
  100% { transform: scale(1); opacity 1 }

/*
  @media mobile-up
    font-size 50px

  @media tablet-up
    font-size 75px

  @media notebook-up
    font-size 90px

  @media desktop-up
    font-size 105px
 */
