.logo
  display inline-flex
  align-items center

  position relative

  &.active
    animation: logo-in .5s cubic-bezier(0, 0.55, 0.45, 1) forwards
    svg
      .circle
        fill: colors.white
  svg
    width 10vw
    height 10vw

    @media tablet-up
      width 8vw
      height 8vw


    .circle
      fill: colors.yellow
      transition fill .35s ease
    .text
      fill: colors.black

@keyframes logo-in
  0% { transform: scale(1) }
  50% { transform: scale(1.2) }
  100% { transform: scale(1) }
