.pointer
  display inline-block
  position: relative
  animation: point 2s ease 500ms
  animation-iteration-count: infinite
  width auto
  height 8vw
  margin-left 3px

  @media tablet-up
    height 4vw
    // margin-right -5px

    @keyframes point
      0% { left: 0 }
      20% { left: -0.75vw }
      30% { left: 0.75vw }
      40% { left: -0.75vw }
      55% { left: 0.75vw }
      65% { left: 0.75vw }
      80% { left: 0 }
      100% { left: 0 }

  @media tablet-down
    @keyframes point
      0% { left: 0 }
      20% { left: -1vw }
      30% { left: 1vw }
      40% { left: -1vw }
      55% { left: 1vw }
      65% { left: 1vw }
      80% { left: 0 }
      100% { left: 0 }
