.tag
  position relative
  height 9vw
  width 32vw

  display inline-flex
  justify-content center
  align-items center

  background-color colors.white
  border-radius 50rem

  @media tablet-down
    margin-left -2vw

  @media tablet-up
    height 6vw
    width 20vw

  img
    height 6.5vw
    width auto
    max-width initial
    display none

    @media tablet-up
      height 4vw

    &.active
      display block
