@-ms-viewport {
  width: device-width
}

html {
  -webkit-box-sizing: border-box
  box-sizing: border-box
  -ms-overflow-style: scrollbar
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit
  box-sizing: inherit
}

.container
  width: 100%
  margin-right: auto
  margin-left: auto

  &.fluid
    padding-right: 10%
    padding-left: 10%

  &:not(.fluid)
    padding-right: 15px
    padding-left: 15px


@media mobile-up
  .container:not(.fluid)
    max-width: 540px

@media tablet-up
  .container:not(.fluid)
    max-width: 720px

@media notebook-up
  .container:not(.fluid)
    max-width: 960px

@media desktop-up
  .container:not(.fluid)
    max-width: 1140px
