html {
  line-height: 1.15
  -webkit-text-size-adjust: 100%
  -webkit-box-sizing: border-box
  box-sizing: border-box
  -ms-overflow-style: scrollbar
}

@-ms-viewport {
  width: device-width
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit
  box-sizing: inherit
}

body {
  margin: 0
  text-align: left
  overflow-x: hidden
  min-height 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
}

a {
  background-color: transparent
}

img {
  border-style: none
}

