body
  font-family: 'Mulish', sans-serif

@media tablet-down
  .br-lg
    display none!important
  .br-sm
    display block!important
    min-width 100%
    max-height 0

@media tablet-up
  .br-sm
    display none!important
  .br-lg
    display block!important
    min-width 100%
    max-height 0


.anim.xyz1.active > span
  animation: f-in .75s cubic-bezier(0, 0.55, 0.45, 1) forwards

.anim.xyz2.active > span
  animation: t-in .75s cubic-bezier(0, 0.55, 0.45, 1) forwards

.anim.xyz3.active > span
  animation: u-in .75s cubic-bezier(0, 0.55, 0.45, 1) forwards

.anim.xyz4.active > span
  animation: s-in .75s cubic-bezier(0, 0.55, 0.45, 1) forwards

.anim.xyz5.active > span
  animation: l-in .75s cubic-bezier(0, 0.55, 0.45, 1) forwards

.anim.xyz6.active > span
  animation: d-in .75s cubic-bezier(0, 0.55, 0.45, 1) forwards

.anim.xyz7.active > span
 animation: z-in .75s cubic-bezier(0, 0.55, 0.45, 1) forwards

@keyframes f-in
  0% { transform: translateX(-50%); opacity: 0 }
  30% { transform: translateX(20%); opacity: 0.5 }
  60% { transform: translateX(-20%); opacity: 1 }
  100% { transform: translateX(0); opacity: 1 }

@keyframes t-in
  0% { transform: rotate(-30deg) scale(0.1); opacity: 0 }
  30% { transform: rotate(30deg) scale(0.5); opacity: 0.5 }
  60% { transform: rotate(-30deg) scale(1.25); opacity: 1 }
  100% { transform: rotate(0) scale(1); opacity: 1 }

@keyframes u-in
  0% { transform: translateY(90%); opacity: 0 }
  30% { transform: translateY(-30%); opacity: 0.5 }
  100% { transform: translateY(0); opacity: 1 }

@keyframes s-in
  0% { transform:  scale(0.5); opacity: 1 }
  25% { transform: scale(2); opacity: 0 }
  45% { transform:  scale(0.5); opacity: 0.1 }
  65% { transform: scale(1.3); opacity: 1 }
  100% { transform: scale(1); opacity: 1 }

@keyframes l-in
  0% { transform: translateX(-50%); opacity: 0 }
  60% { transform: translateX(10%); opacity: 1 }
  100% { transform: translateX(0); opacity: 1 }

@keyframes d-in
  0% { transform: translateY(-100%); opacity: 0 }
  30% { transform: translateY(30%); opacity: 0.5 }
  60% { transform: translateY(-15%); opacity: 1 }
  100% { transform: translateY(0); opacity: 1 }

@keyframes z-in
  0% { transform: scale(1) }
  30% { transform: scale(0.9) }
  60% { transform: scale(1.2) }
  100% { transform: scale(1) }
