colors = {
  black: #000
  white: #fff
  yellow: #ffd100
  pink: #ff9fd5
}

grid-breakpoints = {xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px}
gridCols = 12

mobile-up     = "(min-width: " + grid-breakpoints[sm] + ")"
tablet-up     = "(min-width: " + grid-breakpoints[md] + ")"
notebook-up   = "(min-width: " + grid-breakpoints[lg] + ")"
desktop-up    = "(min-width: " + grid-breakpoints[xl] + ")"

mobile-down   = "(max-width: " + grid-breakpoints[sm] + ")"
tablet-down   = "(max-width: " + grid-breakpoints[md] + ")"
notebook-down = "(max-width: " + grid-breakpoints[lg] + ")"
desktop-down  = "(max-width: " + grid-breakpoints[xl] + ")"

ease = cubic-bezier(0.65, 0, 0.35, 1)

line-height-xs = 40px
line-height-sm = 50px
line-height-md = 75px
line-height-lg = 90px
line-height-xl = 105px
