html,
body
  height: 100%
  background-color: #000000
  color: #ffffff

.main
  width:100%
  min-height:100%
  display flex
  align-items center

  .box
    @media tablet-down
      padding 0 7%
    @media tablet-up
      padding 0 12%

  .footer
    display flex
    align-items center
    justify-content center

    @media tablet-down
      margin: 15% 0

    @media tablet-up
      margin: 5% 0

